{% for item in news %}
    <li class="list-group-item">
        Article proposé par <b>{{ item.author.username|title }}</b>
        <br>
        <a href="{{ path('schuma_blog_get_article', {'id' : item.id}) }}">{{ item.title }}</a>
    </li>
{% endfor %}
