{% for item in lastQuestions %}
    <li class="list-group-item">
        <b>Par {{ item.author.username|title }}</b>
        <br>
        <a href="{{ path('schuma_faq_get_question', {'id' : item.id}) }}">{{ item.title }}</a>
    </li>
{% endfor %}
