{# src/Schuma/FaqBundle/Resources/views/layout.html.twig #}

{% extends "::base.html.twig" %}


{% block body %}

    <section class="col-md-7 col-md-offset-1 col-sm-8 col-xs-12">
        <div class="page-header">
            <h2> {% block title_faq %} La FAQ {% endblock %} </h2>
        </div>

        {% block section_body %}
        {% endblock %}
    </section>

    <div class="col-md-3 col-sm-4 col-xs-12">
        <hr class="visible-xs">

        <div class="row">
            <div class="col-sm-12 col-xs-6">
                <h4 class="myWidget-title">DERNI&Egrave;RES QUESTIONS</h4>

                <div class="panel panel-success myWidget">
                    <ul class="list-group">
                        {% render controller("SchumaFaqBundle:Faq:displayLastQuestions") %}
                    </ul>
                </div>
            </div>

            <div class="col-sm-12 col-xs-6">
                <h4 class="myWidget-title">DERNI&Egrave;RES R&Eacute;PONSES</h4>

                <div class="panel panel-default myWidget">
                    <ul class="list-group">
                        {% render controller("SchumaFaqBundle:Answer:displayLastAnswers") %}
                    </ul>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
