# Bootstrap
/app/bootstrap*

# Symfony directories
/vendor/
app/logs/*
app/cache/*
/app/logs/*
/app/cache/*
!app/cache/.gitkeep
!app/logs/.gitkeep

/bin/
/web/uploads/*
/web/bundles/*

# Configuration files
/app/config/parameters.yml

# Composer
#composer.phar

.idea
.buildpath
.project
.settings
/build/
