{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
{% include "FOSUserBundle:Profile:show_content.html.twig" %}
<div>
    <a href="{{ path('fos_user_profile_edit') }}"><span class="glyphicon glyphicon-edit"></span> Modifier le profil</a>
</div>
{% endblock fos_user_content %}
