html{
    height: 100%;
}

body{
    height: 100%;
}

#main-container{
    min-height:100%;
    padding-top: 70px;
    padding-bottom:70px;
    position:relative;
}

/*==================================================================
 ==================================================================*/

#menu h1{
    display: inline;
    position:relative;
    bottom: 5px;
    font-family: serif;
    color: #87b700;
}

#menu{
    text-align: center !important;
    padding-right: 15px;
    color: #ffffff;
}

#menu .nav{
    padding-left: 6%;
}

#menu .navbar-header{
    padding-left: 10px;
}

#menu li{
    min-width: 110px;
}

#menu li:hover a{
    background-color: gray;
    color: white;
    border-radius: 6px 6px 0 0;
}

#menu li.active a{
    border-radius: 6px 6px 0 0;
}

#menu .dropdown-menu{
    text-align: left;
}

/*==================================================================
============================ For HOME =============================
 ==================================================================*/

#logo{
    display: inline-block;
    margin-top:5em;
}

/*==================================================================
 ==================================================================*/

p{
    text-align: justify;
}

label{
    min-width: 100px;
}

textarea{
    resize: vertical;
    min-width: 60%;
    min-height: 8em;
}

.path_article{
    color: inherit;
    text-decoration: none;
}

.path_article:hover {
    text-decoration: none;
}

.path_article:visited{
    text-decoration: none;
}

.path_article:hover .panel{
    box-shadow: green 1px 1px 3px;
}

.article-panel {
    min-height: 12em;
    overflow: hidden;
    text-overflow: ellipsis;
}

.myWidget{
    height: 18em;
    overflow-y: scroll;
    border-width: 2px;
}

.myWidget-title{
    color: lightcoral;
}

.modal-link:hover{
    cursor: hand;
}

/*==================================================================
 ==================================================================*/

footer{
    position:absolute;
    bottom:0;
    margin-bottom:0;
    width:100%;
}

#nav-footer{
    margin-bottom:0;
    border-radius:5px 5px 0px 0px
}

#text-footer{
    margin-bottom: 0;
    padding-bottom: 0;
}
