html{

}

body{
    position: relative;
    padding-top: 5em;
}

/*==================================================================
 ==================================================================*/

#menu h1{
    display: inline;
    position:relative;
    bottom: 5px;
    font-family: serif;
    color: #87b700;
}

#menu{
    text-align: center !important;
    padding-right: 15px;
}

.nav{
    padding-left: 6%;
}

.navbar-header{
    padding-left: 10px;
}

#menu li{
    min-width: 110px;
}

#menu li:hover a{
    background-color: gray;
    color: white;
    border-radius: 6px 6px 0 0;
}

#menu li.active a{
    border-radius: 6px 6px 0 0;
}

#menu .dropdown-menu{
    text-align: left;
}

/*==================================================================
============================ For HOME =============================
 ==================================================================*/

#section_logo{
    text-align:center;
    position: relative;
}

#logo{
    display: inline-block;
    margin-top:5em;
}

/*==================================================================
 ==================================================================*/

section{
    
}

p{
    text-align: justify;
}

label{
    min-width: 100px;
}

textarea{
    min-width: 60%;
    min-height: 8em;
}

.path_article{
    color: inherit;
    text-decoration: none;
}

.path_article:hover {
    text-decoration: none;
}

.path_article:visited{
    text-decoration: none;
}

.path_article:hover .panel{
    box-shadow: green 1px 1px 3px;
}

.panel-default {
    height: 12em;
    overflow: hidden;
    text-overflow: ellipsis;
}

.panel-success{
    height: 16em;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*==================================================================
 ==================================================================*/

footer{
    text-align: center;
    border-top: solid black 1px;
}
