@font-face {
    font-family: "my-arual";
    src: url('../fonts/arual.ttf');
}

html{
    height: 100%;
}

body{
    height: 100%;
}

#main-container{
    min-height:100%;
    padding-top: 70px;
    padding-bottom:70px;
    position:relative;
}

/*==================================================================
 ==================================================================*/

#menu h1{
    display: inline;
    position:relative;
    bottom: 5px;
    font-family: "my-arual", serif;
    color: #87b700;
    font-weight: bold;
    font-size: 1.9em;
}

#menu{
    text-align: center !important;
    padding-right: 15px;
}

#menu .nav{
    font-family: "my-arual", sans-serif;
    font-weight: bold;
}

#menu li{
    min-width: 100px;
}

#menu li.special-tab{
    min-width: 65px;
}

#menu .nav li a{
    color: #ffffff;

}

#menu li:hover a{
    background-color: gray;
    color: white;
    border-radius: 6px 6px 0 0;
}

#menu li.active a{
    border-radius: 6px 6px 0 0;
}

#menu .dropdown-menu{
    text-align: left;
}

#menu .btn-success{
    font-family: "my-arual", sans-serif;
    font-weight: bold;
}

#menu .text-in-white{
    color:white;
}

/*==================================================================
============================ For HOME =============================
 ==================================================================*/

#logo{
    display: inline-block;
    margin-top:5em;
}

/*==================================================================
 ==================================================================*/

h2{
    font-variant: small-caps;
}

p{
    text-align: justify;
}

label{
    min-width: 100px;
}

textarea{
    resize: vertical;
    min-width: 60%;
    min-height: 8em;
}

.btn-success{
    background-color: #87b700;
}

.btn-success:hover{
    background-color: #7DAB00;
}

.article-title{
    font-variant: normal;
}

.path_article{
    color: inherit;
    text-decoration: none;
}

.path_article:hover {
    text-decoration: none;
}

.path_article:visited{
    text-decoration: none;
}

.path_article:hover .panel{
    box-shadow: #87b700 0px 2px 4px;
}

.article-panel {
    min-height: 12em;
    overflow: hidden;
    text-overflow: ellipsis;
}

.myWidget{
    height: 18em;
    overflow-y: scroll;
    border-width: 2px;
}

.myWidget-title{
    color: lightcoral;
}

.modal-link:hover{
    cursor: hand;
}

.question-link a{
    color: #7DAB00;
    font-size: 1.06em;
}

/*.well{
    background-color: rgba(135,183,0,0.7);
}*/

/*==================================================================
 ==================================================================*/

footer{
    position:absolute;
    bottom:0;
    margin-bottom:0;
    width:100%;
}

#nav-footer{
    margin-bottom:0;
    border-radius:5px 5px 0px 0px
}

#text-footer{
    margin-bottom: 0;
    padding-bottom: 0;
}
