{# src/Schuma/BlogBundle/Resources/views/Blog/presentation.html.twig #}

{% extends "SchumaBlogBundle::layout.html.twig" %}


{% block section_body %}
<div class="row">
    <div class="page-header">
        <h2>L' association</h2>
    </div>

    <p>
        L'ALDUC, Association Lorraine du master de Droit de l'Urbanisme et de la Construction, a été créée en 2014 par
        les étudiants de la première promotion du Master.
        L'idée de créer l'ALDUC est partie d'un constat simple : l'accès au monde professionnel et
        l'évolution au sein de celui-ci se fait par la construction d'un réseau.
    </p>
    <p>
        Et quoi de plus efficace qu'une association d'étudiants pour y parvenir ?
        C'est l'objectif que s'est fixé l'ALDUC :
        l'association propose de faire le lien entre les différentes promotions du master,
        notamment grâce à la mise en place d'un système de parrainage, afin de faire profiter
        les nouveaux étudiants de l'expérience que peuvent leur apporter les anciens
        dans leur manière d'appréhender la formation.
    </p>

    <p>
        Le but est de permettre d'échanger sur les différentes thématiques touchant à l'urbanisme,
        l'aménagement et la construction, entre étudiants, mais également avec les professionnels de ces différents domaines,
        l'association ayant également pour objectif de promouvoir le master en dehors de l'université.
    </p>

    <br>
    <p>
        Le bureau actuel est composé comme suit :

        <ul>
            <li> Présidente : Mélanie Steinkwich </li>
            <li> Vice-Présidente : Nedjoua Merad </li>
            <li> Secrétaire : Elodie Pierron    </li>
            <li> Trésorière : Juliette Cayeux   </li>
        </ul>

        Contact : <a href="mailto:alduc57@gmail.com"> alduc57@gmail.com </a>
    </p>

</div>
{% endblock %} 
