{# src/Schuma/BlogBundle/Resources/views/Blog/presentation.html.twig #}

{% extends "SchumaBlogBundle::layout.html.twig" %}


{% block section_body %}
<div class="row">
    <h2>Le master</h2>

    <br/>
    <p>
        Créé en 2013, ce Master répond à une demande des étudiants mais également des professionnels.
        En effet l'aménagement du territoire est un domaine complexe et évolutif, rendant nécessaire l'intervention
        de juristes qualifiés.
    </p>
    <p>
        Transversale, cette formation allie des enseignements de droit public et privé. Ceci afin d'être la plus
        exhausitive possible et d'apporter à ses étudiants une base solide sur laquelle débuter leur carrière professionnelle.
    </p>

</div>
{% endblock %} 
