{# src/Schuma/BlogBundle/Resources/views/Blog/presentation.html.twig #}

{% extends "SchumaBlogBundle::layout.html.twig" %}


{% block section_body %}
<div class="row">
    <div class="page-header">
        <h2>Le master</h2>
    </div>

    <p>
        Créé en 2013, ce Master répond à une demande des étudiants mais également des professionnels.
        En effet l'aménagement du territoire est un domaine complexe et évolutif, rendant nécessaire l'intervention
        de juristes qualifiés.
    </p>
    <p>
        Transversale, cette formation allie des enseignements de droit public et privé. Ceci afin d'être la plus
        exhausitive possible et d'apporter à ses étudiants une base solide sur laquelle débuter leur carrière professionnelle.
    </p>

    <br/>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <img src="{{asset('img/ufr-droit.jpg')}}" id="ufr"
                 class="img-responsive img-rectangle" alt="UFR DEA" />
        </div>
    </div>

    <div class="row">
        <br/>
        <div class="col-md-12 col-sm-12 col-xs-12">
        <p> Pour plus de renseignements sur le master : <a href=
            "http://formations.univ-lorraine.fr/fr-FR/fiche/presentation/UL-PROG2276/UL-PROG3130?__1=__domaine&__2=AND&__3=__diplome&__4=AND&__5=__modalite&__6=AND&__7=__acces&__8=AND&__9=lieu&__10=AND&__11=__deroulement&__12=AND&__13=__intitule_pt_AND&__domaine=0&__diplome=TI-ma&__modalite=&__acces=&__lieu=Metz&__deroulement=&__intitule_pt_AND=#debut"
            > suivre ce lien </a>
        </p>
        </div>
    </div>

</div>
{% endblock %} 
