{# src/Schuma/BlogBundle/Resources/views/Blog/presentation.html.twig #}

{% extends "SchumaBlogBundle::layout.html.twig" %}


{% block section_body %}
<div class="row">
    <h2>Pr&eacute;sentation</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Maecenas id congue tellus. Curabitur non dui ac libero ultricies cursus vel at mauris.
        In mollis at ligula sed vulputate. Nunc laoreet venenatis nibh non dignissim.
        Sed vitae nulla a ante eleifend cursus. Fusce scelerisque euismod posuere.
        Nam euismod nibh a libero fermentum, in imperdiet metus pretium. Maecenas sagittis semper nunc id cursus.
    </p>
    <p>
        Morbi et nisl ac tellus dignissim posuere a id mauris.
        Morbi at leo sit amet dui lobortis condimentum malesuada et lectus. Pellentesque sagittis ante vel ultrices vestibulum.
        Sed vel nisi dui. Nullam egestas vehicula tincidunt. Integer interdum risus sit amet hendrerit placerat.
        In consequat sollicitudin odio non ornare. Sed eros felis, hendrerit quis porttitor et, scelerisque in sem.
        Vivamus feugiat nisi vitae justo rhoncus, sed aliquam enim tempus. Praesent ut tellus ut quam vulputate dignissim eget in dui.
    </p>
    <p>
        Maecenas ornare velit erat, id tincidunt orci fermentum et.
        Suspendisse pretium elit et magna imperdiet, eu fermentum odio tincidunt.
        Duis adipiscing lorem nisi, congue blandit purus sollicitudin vel. Aenean semper mauris vel mi sollicitudin vulputate.
        Etiam pellentesque lorem et mi feugiat commodo. Duis ornare id sem vel vestibulum. Mauris euismod rutrum quam eget ullamcorper.
    </p>
    <p>
        Maecenas quis justo vitae augue laoreet aliquet. Proin aliquam ornare nisl at euismod.
        Maecenas ullamcorper lacus et mattis cursus. Nullam scelerisque nisi non tellus auctor tempus.
        Pellentesque quis fringilla nulla. Vivamus in pulvinar arcu. Morbi id consequat est, id consectetur orci.
        Aenean vehicula mollis odio, vitae convallis elit interdum in. Aenean a ligula posuere, pharetra massa vel, feugiat urna.
        Sed et lacinia nunc, vitae porttitor dolor.
    </p>
</div>
{% endblock %} 
