{# src/Schuma/BlogBundle/Resources/views/Blog/view_article.html.twig #}

{% extends "SchumaBlogBundle::layout.html.twig" %}


{% block section_body %}
<div class="row">

    <div class="col-xs-12">
        <h2>{{ article.title }}</h2>
        <div class="well">
            {{ article.body }}
        </div>
        <p>
            {% if is_granted("ROLE_ADMIN") %}
                <a href="{{ path('schuma_blog_editArticle', {'id': article.id}) }}">
                    <span class="glyphicon glyphicon-plus"></span> Editer l'article </a>
            {% endif %}
        </p>
    </div>

</div>
{% endblock %} 
