{# src/Schuma/UserBundle/Resources/views/layout.html.twig #}

{% extends "::base.html.twig" %}

{% block body %}
<div class="row">

    {% for key, message in app.session.flashbag.all() %}
        <div class="alert alert-{{ key }}">
            {{ message|trans({}, 'FOSUserBundle') }}
        </div>
    {% endfor %}


    <div class="well">
    {% block fos_user_content %}
    {% endblock fos_user_content %}
    </div>

</div>

{% endblock %}
