{% extends "SchumaFaqBundle::layout.html.twig" %}


{% block section_body %}

    {% if is_granted("ROLE_USER") %}
        <p>
            <a href="{{ path('schuma_faq_add_question') }}">
                <span class="glyphicon glyphicon-plus"></span> Ajouter une question</a>
        </p>
    {% endif %}

    {% if list is not null %}
        {% for item in list %}
            <a class="path_article" href="{{ path('schuma_faq_get_question', {'id': item.id}) }}">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h2 class="panel-title"> {{ item.title }} </h2>
                    </div>
                    <div class="panel-body">
                        <p>{{ item.text }}</p>
                    </div>
                </div>
            </a>

            {% if loop.last == false  %}
                <hr>
            {% endif %}
        {% endfor %}
    {% endif %}

{% endblock %}
