{# src/Schuma/FaqBundle/Resources/views/Faq/faq.html.twig #}

{% extends "SchumaFaqBundle::layout.html.twig" %}


{% block section_body %}

    <div class="panel panel-primary">
        <div class="panel-heading">
            <a class="path_article" href="">
                <h2 class="panel-title"> Ceci est une question ? </h2> </a>
        </div>
    </div>
    <hr>
{% endblock %}
